<html>
    <head>

    </head>
    <style>
    * {
  box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
  float: left;
  width: 40%;
  padding: 10px;
}

/* Style the list */
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

/* List items */
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

/* Grey list item */
.price .grey {
  background-color: #eee;
  font-size: 20px;
}

/* The "Sign Up" button */
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
input[type=text] {
  width: 50%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
label {
  margin-bottom: 10px;
  display: block;
}

/* Change the width of the three columns to 100% 
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}</style>
    <body>
        <h1>
            Smart Parking System
        </h1>
        <div class="columns">
        </div>
            <div class="columns">
                      <h3 class="header">Enter your details to avail facility</h3>
                           <label for="fname"><i class="fa fa-user"></i> Full Name</label> 
                           <input type="text" id="fname" name="firstname" placeholder="Priyanshi">
                           <label for="email"><i class="fa fa-envelope"></i>Email</label>
                            <input type="text" id="email" name="email" placeholder="priyanshi@example.com">
                            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label> 
                           <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
                            <label for="city"><i class="fa fa-institution"></i> City</label>
                           <input type="text" id="city" name="city" placeholder="California">
                            <label for="vehicle"><i class="fa fa-institution"></i> Vehicle Number</label>
                            <input type="text" id="vehicle" name="vehicle" placeholder="BA7832A">
                      <br class="grey"><a href="/GoogleMap" class="button">Generate map</a><br/>
                  </div>
                      
    </body>
</html>